{% extends 'home/base.html' %}
{% block title %}Esports BGMI Tournaments{% endblock title %}
{% block body %}
<div class="min-h-screen flex flex-col justify-center items-center">
    <div class="max-w-4xl w-full px-6 py-8 rounded-lg shadow-lg">
        <h2
            class="text-4xl font-bold mb-6 text-transparent bg-clip-text bg-gradient-to-br from-blue-700 via-purple-400 via-pink-400 to-blue-300 knewave-regular tracking-widest text-center">
            Contact Us</h2>
        <p class="text-center text-gray-400 mb-8">
            We’d love to connect with you! Reach out to us through the following channels:
        </p>

        <div class="space-y-6">
            <div class="text-center">
                <h2 class="text-lg font-bold text-gray-300">Instagram</h2>
                <p class="text-violet-400">
                    <a href="https://instagram.com/playesports.in" target="_blank"
                        class="hover:underline">@playesports.in</a>
                </p>
            </div>

            <div class="text-center">
                <h2 class="text-lg font-bold text-gray-300">Email</h2>
                <p class="text-violet-400">
                    <a href="mailto:contact@esports.com" class="hover:underline">playesports.in@gmail.com</a>
                </p>
            </div>

            <!-- <div class="text-center">
                <h2 class="text-lg font-bold text-gray-300">Discord</h2>
                <p class="text-violet-400">
                    <a href="https://discord.gg/esports" target="_blank" class="hover:underline">Join our Discord
                        Server</a>
                </p>
            </div> -->
        </div>

        <div class="mt-8 text-center">
            <h2 class="text-lg font-bold text-gray-300">Follow Us</h2>
            <div class="flex justify-center space-x-4 mt-4">
                <a href="https://www.instagram.com/playesports.in/" class="text-pink-600 hover:text-violet-500 transition">
                    <i data-feather="instagram" class="feather-icon h-6 w-6"></i>
                </a>
                <a href="mailto:playesportsin@gmail.com" class="text-red-500 hover:text-red-600 transition">
                    <i data-feather="mail" class="feather-icon h-6 w-6"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}